/* Customizing Slick Dots */
.slick-dots li button:before {
    color: gray; /* Default color for inactive dots */
    opacity: 1; /* Ensures the dot is fully visible */
}

.slick-dots li.slick-active button:before {
    color: blue; /* Color for active dot */
}

/* Customizing Slick Arrows */
.slick-prev:before,
.slick-next:before {
    color: blue; /* Change the color of both left and right arrows */
}
.scrollable-content {
    height: 150px; /* Fixed height to allow scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .scrollable-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  